{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }
        .gold {
            background: #fce7b6;
        }
        .silver {
            background: #d1d0cd;
        }
        .darksilver {
            background: #9e9d9b;
        }
        .selected_bucket{
         writing-mode: vertical-rl;
        }
        .debug-info{
          display:none;
        }
    </style>
{% endblock %}

{% block title %}
    實驗說明 -
    Player
    {% if player.role == 'S' %}
        S
    {% else %}
        R
    {% endif %}


{% endblock %}

{% block content %}

    <p>
        在本實驗，每一位參與者會被指派擔任<b>S</b>或<b>R</b>的角色。
        <!-- In this experiment each participant will be assigned to one of two roles: S or R. -->
    </p>

    <p>
        今天您的角色是 <strong>Player {{ player.role }}</strong>.
    </p>

    <p>
        這個實驗的主要部分為50回合的決策任務，每個回合都是是獨立的。
        <!-- You will play this role for 50 rounds, and each round is a separate decision task. -->
    </p>

    <p>
      請仔細閱讀實驗說明
      <!-- Please read the instruction sheet carefully. -->
    </p>

    <p>
        {% if player.role == "R" %}
        <!-- As a Player R, your job is to name the color of the bucket, <em>Silver</em> or <em>Gold</em>. -->
        擔任 Player R 的角色之任務是在每回合猜被隨機選中的桶子是<b>金色</b>還是<b>銀色</b>。
        在您做決定之前會先觀察到<b>S</b>的行動。<b>S</b>會說他抽到了銀球或是保持沉默。您的每回合報酬將如下決定。
        <!-- Before making your decision, you will observe Player <em>S</em>’s action. Player <em>S</em> either reports
        you that he or she has drawn a <em>Silver</em> ball or remains silent. Your payoff in each round is
        determined as follows. -->

        <ol>
            <li>
              如果您猜桶子是<b>銀色</b>，而桶子是<b>銀色</b>，您的報酬將會是在<span class="blue">[30 至 70] 或是 [10 至 90]</span>間的一個數值
                <!-- If you choose <em>Silver</em> and the color of the bucket is <em>Silver</em>, you will receive a
                payoff that is randomly drawn from the interval <span class="blue">[30 and 70] or [10 and 90]</span> at the beginning of each round. -->
            </li>
            <li>
              區間每回合不同，而這個數值在回合一開始決定。R知道具體數值但S只知道是哪個區間。
                <!-- You will know the exact value, but Player <em>S</em> only knows that the value is randomly
                drawn from the interval, and every value within the interval is equally likely to be
                drawn. -->
            </li>
            <li>
                如果您猜桶子是<b>金色</b>而桶子真的是<b>金色</b>，您將會得到<span class="blue">50</span>點。
                <!-- If you choose <em>Gold</em> and the color of the bucket is <em>Gold</em>, you will receive a
                payoff of <span class="blue">50</span>. -->
            </li>
            <li>
                如果您猜錯桶子的顏色，在該回合您將取得<span class="blue">0</span>點
                <!-- If you choose the wrong color of the bucket, you will receive a payoff of <span class="blue">0</span>. -->
            </li>
            <li>
                如果您猜對了桶子的顏色，在該回合S將取得
                <span class="red">
                    {{group.v}}點。
                </span>
                <!-- If you choose the color of the bucket correctly, Player <em>S</em> will receive a payoff of
                <span class="red">
                    {{group.v}}.
                </span> -->
            </li>
            <li>
                如果您猜錯桶子的顏色，<b>S</b>將取得<span class="red">0</span>點。
                <!-- If you choose the wrong color of the bucket, Player <em>S</em> will receive a payoff of <span class="red">0</span>. -->
            </li>
            <li>
              如果<em>S</em>向您說球是<b>銀色</b>的，但您猜桶子的顏色是<b>金色</b>，<b>S</b>在這個回合的報酬將會被扣<span class="red">{{group.x}}</span>點。
                <!-- If Player <em>S</em> reports <em>Silver</em> to you but you decide to choose <em>Gold</em>,
                <span class="red">{{group.x}}</span> points will be deducted from his or her payoff. -->
            </li>
        </ol>
        {% else %}
        擔任<b>S</b>的角色之任務是在每回合從被選中的桶子中抽出一顆球。如果抽到<b>銀球</b>，您必須決定是否向<b>R</b>說
        球的顏色，或是選擇保持沉默。如果球是<b>金色</b>的，您就不需要再做任何行動。
        <!-- As a Player <em>S</em>, your job is to draw a ball from the chosen bucket and, if the ball you draw is
        <em>Silver</em>, decide whether to report <em>Silver</em> to Player <em>S</em>. If the ball you draw is
        <em>Gold</em>, you don’t need to do further action in this round. -->
        您的每回合報酬由您與<b>R</b>的決策所共同決定。
        <!-- Your payoff in each round is determined jointly by your and Player <em>R</em>’s action. -->
        <ol>
            <li>
                如果<b>R</b>選對了桶子的顏色，您將會得到<span class="red">{{group.v}}</span>點。
                <!-- If Player <em>R</em> chooses the color of the bucket correctly, you will receive a payoff of
                <span class="red">{{group.v}}</span>. -->
            </li>
            <li>
                如果R選錯了桶子的顏色，您將會得到<span class="red">0</span>點。
                <!-- If Player <em>R</em> chooses the wrong color of the bucket, you will receive a payoff of <span class="red">0</span>. -->
            </li>
            <li>
                如果您向<b>R</b>說球是<b>銀色</b>的，但<b>R</b>猜桶子的顏色是<b>金色</b>，您在這個回合的報酬將會被扣<span class="red">{{group.x}}</span>點
                <!-- If you report <em>Silver</em> but Player <em>R</em> chooses <em>Gold</em>, <span class="red">{{group.x}}</span>
                points will be deducted from your payoff. -->
            </li>
            <li>
                如果<b>R</b>猜桶子是<b>金色</b>而桶子真的是<b>金色</b>，他將會得到<span class="blue">50</span>點。
                <!-- If Player <em>R</em> chooses <em>Gold</em> and the color of the bucket is <em>Gold</em>, he or she will receive
                a payoff <span class="blue">50</span>. -->
            </li>
            <li>
                如果<b>R</b>選錯了桶子的顏色，他將會得到<span class="blue">0</span>點。
                <!-- If Player <em>R</em> chooses the wrong color of the bucket, he or she will receive a payoff <span class="blue">0</span>. -->
            </li>
            <li>
                如果<b>R</b>猜桶子是<b>銀色</b>而桶子真的是<b>銀色</b>，他的報酬將會是在<span class="blue">[10 至 90] 或是 [30 至 70]</span>
                間的一個數值。 (每回合不同，<b>R</b>知道具體數值但S只知道是哪個區間)。
                <!-- If Player <em>R</em> chooses <em>Silver</em> and the color of the bucket is <em>Silver</em>, he or she will receive
                a payoff that could be any number randomly drawn between <span class="blue">[10 and 90] or [30 and 70]</span> at the beginning of each round. -->
            </li>
        </ol>
        {% endif %}
    </p>

    <p>
        {% if player.role == "R" %}
        您和<b>S</b>的報酬如下表:
        <!-- Your and Player S’s payoffs are summarized as below. -->
        {% else %}
        您和<b>R</b>的報酬如下表:
        <!-- Your and Player R’s payoffs are summarized as below. -->
        {% endif %}
    </p>

    {% include Constants.payoff_template_instructions_new %}

    <p>
        <!-- 注意:本表將會表示在每一回合的螢幕上。 -->
        <strong>注意:</strong><i> 本表將會表示在每一回合的螢幕上。
        <!-- <strong>Note:</strong><i> the payoff matrices for each round will be displayed on the screens for the paired participants. -->
    </i>
    </p>

    <p>
      為了確保您完全了解這個實驗，請在電腦上完成實驗前問卷後，方能開始進行任務。
      <!-- After reading the instruction, press <strong>Next</strong> to proceed to the control questionnaire. -->
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
