{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire {{group.round_number}}
{% endblock %}

{% block styles %}
    <style>
        .debug-info{
          display:none;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
      為確保您清楚了解實驗規則，請回答下列問題：
        <!-- To ensure your full understanding of the rule of this experiment, please answer the following question: -->
    </p>

    <p>
        {{ question|safe }}
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
