{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        .tbd {
            color: red;
        }
    </style>
{% endblock %}

{% block title %}
    歡迎來到本實驗！！
    <!-- Welcome to this experiment! -->
{% endblock %}

{% block content %}

    <p>
      在本實驗，每一位參與者會被指派擔任<b>S</b>或<b>R</b>的角色。
      <!-- In this experiment each participant will be assigned to one of two roles: S or R. -->
    </p>

    <p>
      今天您的角色是 <strong>Player {{ player.role }}</strong>.
        <!-- Today you are a <strong>Player {{ player.role }}</strong>. -->
    </p>

    <p>
        You will play this role for 50 rounds, and each round is a separate decision task.
    </p>

    <p>
      這個實驗的主要部分為50回合的決策任務，每個回合都是是獨立的。
        <!-- Please read the instruction sheet carefully. -->
    </p>

    <p>
      {% if player.role == "R" %}
      <!-- As a Player R, your job is to name the color of the bucket, <em>Silver</em> or <em>Gold</em>. -->
      擔任 Player R 的角色之任務是在每回合猜被隨機選中的桶子是<b>金色</b>還是<b>銀色</b>。
      在您做決定之前會先觀察到<b>S</b>的行動。<b>S</b>會說他抽到了銀球或是保持沉默。您的每回合報酬將如下決定。
      <!-- Before making your decision, you will observe Player <em>S</em>’s action. Player <em>S</em> either reports
      you that he or she has drawn a <em>Silver</em> ball or remains silent. Your payoff in each round is
      determined as follows. -->
        <!-- {% if player.role == "R" %}
        As a Player R, your job is to name the color of the bucket, <i>Silver</i> or <i>Gold</i>.

        Before making your decision, you will observe Player S’s action. Player S either reports
        you that he or she has drawn a <i>Silver</i> ball or remains silent. Your payoff in each round is
        determined as follows. -->

        <ol>
            <li>
                If you chooses <i>Gold</i> and the color of the bucket is <i>Gold</i>, you will receive a
                payoff W<sub>1</sub>.
            </li>
            <li>
                If you chooses <i>Silver</i> and the color of the bucket is <i>Silver</i>, you will receive a
                payoff W<sub>0</sub> = 50.
            </li>
            <li>
                If you chooses the wrong color of the bucket, you will receive a payoff of 0.
            </li>
            <li>
                If you chooses the color of the bucket correctly, Player S will receive a payoff
                <span class="tbd">V = [20 or 30]</span>.
            </li>
            <li>
                If you chooses the wrong color of the bucket, Player S will receive a payoff of 0.
            </li>
            <li>
                If Player S reports Silver to you but you decide to choose Gold, <span class="tbd">X = [5 or 10]</span>
                points will be deducted from his or her payoff.
            </li>
            <li>
                Although you know the value of W<sub>1</sub>. Player S only knows that W<sub>1</sub> is a value randomly
                drawn from the interval between W<sub>0</sub> − &epsilon; and W<sub>0</sub> + &epsilon; <span class="tbd">([30 and 70] or
                [10 and 90])</span>, and every value within the interval is equally likely to be drawn.
            </li>
        </ol>
        {% else %}
        As a Player S, your job is to draw a ball from the chosen bucket and, if the ball you drew is
        Silver, decide whether to report Silver to Player S. If the ball you drew is Gold, you don’t need
        to do further action in this round.
        Your payoff in each round is determined jointly by your and Player R’s action.
        <ol>
            <li>
                If Player R chooses the color of the bucket correctly, you will receive a payoff
                <span class="tbd">V = [20 or 30]</span>.
            </li>
            <li>
                If Player R chooses the wrong color of the bucket, you will receive a payoff of 0.
            </li>
            <li>
                If you report <i>Silver</i> but Player R chooses <i>Gold</i>, <span class="tbd">X = [5 or 10]</span>
                points will be deducted from your payoff.
            </li>
            <li>
                If Player R chooses <i>Gold</i> and the color of the bucket is <i>Gold</i>, he or she will receive
                a payoff W<sub>0</sub> = 50.
            </li>
            <li>
                If Player R the wrong color of the bucket, he or she will receive a payoff 0.
            </li>
            <li>
                If Player R chooses <i>Silver</i> and the color of the bucket is <i>Silver</i>, he or she will receive
                a payoff W<sub>1</sub>. W<sub>1</sub> is a value randomly drawn from the interval between
                W<sub>0</sub> − &epsilon; and W<sub>0</sub> + &epsilon; <span class="tbd">([30 and 70] or [10 and 90])</span>,
                and every value within the interval is equally likely to be drawn.
            </li>
        </ol>
        {% endif %}
    </p>

    <p>
        {% if player.role == "R" %}
        Your and Player S’s payoffs are summarized as below.
        {% else %}
        Your and Player R’s payoffs are summarized as below.
        {% endif %}
    </p>

    {% include Constants.payoff_template %}

    <p class="tbd">
        Note: the values V, X, and
        {% if player.role == "S" %}
            the interval of
        {% endif %}
        W<sub>1</sub> are determined at the beginning of each round. The payoff
        matrices for each round will display on the screens for the paired participants.
    </p>

    <p>
        After reading the instruction, press <strong>Next</strong> to proceed to the control questionnaire.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
